name: CI/CD pipeline
on: 
    push:
        branches: [main]
    
jobs:
    build-backend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with: 
                python-version: "3.11"
            
            - name: Install dependencies
              run: | 
                pip install -r requirements.txt

            - name: Run tests
              run: | 
                pytest

            - name: Build and Push Backend Docker Image
              uses: docker/build-push-action@v6
              with:
                context: ./backend
                push: false
                load: true
                tags: rag-backend:latest

    build-frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with: 
                node-version: "18"
                cache: 'npm'
                cache-dependency-path: frontend/package-lock.json
            
            - name: Install dependencies
              run: | 
                npm install 
            
            - name: Build frontend
              run: | 
                npm run build

            - name: Build and Push Frontend Docker Image
              uses: docker/build-push-action@v6
              with:
                context: ./frontend
                push: false
                load: true
                tags: rag-frontend:latest


            